
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Department of civil defense</h2>
        <p><a class="btn btn-default" href="/DCDS">department of civil defense &raquo;</a></p>
        <p><a class="btn btn-default" href="/Admins">Admin info &raquo;</a></p>
        <p><a class="btn btn-default" href="/Announcemets">Goverment Announcmnet &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>Paramedic Data</h2>
        <p><a class="btn btn-default" href="/Paramedics">Paramedic &raquo;</a></p>
        <p><a class="btn btn-default" href="/ParamedicTeams">Paramedic Teams &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hospitals Data</h2>
        <p><a class="btn btn-default" href="/Hospitals">Hospitals &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>HelpRequest Data</h2>
        <p><a class="btn btn-default" href="/helpRequests">Running requests &raquo;</a></p>
        <p><a class="btn btn-default" href="/RequestLogs">Finished requests &raquo;</a></p>
    </div>
</div>