@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <img src="~/Images/EmergencyLogo.png" width="120" height="100">
    <h1>E-Emergency</h1>
    <p class="lead">
        E-Emergency is a service dedicated to serve the Department of Civil Defense (DCD) in providing medical ambulance service to those in need. The service system is comprised of two elements: (i) a server side application deployed at DCD or at a hosting data service, and (ii) a client application compatible with the two most popular mobile platforms (Android/iOS). The client-side application is installed on handheld devices and once the application is started and an emergency button is pressed, a help request is dispatched and received by DCD server. On the server side, the operator assembles required resources and dispatches a rescue mission. Data for the rescue mission is extracted from the help-request message, which includes location and critical medical data of the person who issued the request.
        The system is implemented using state of the art technology including mobile platforms, IoT, web services, and server side technologies such as ASP.NET.

    </p>

</div>

